@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

body {
    font-family: "Unbounded", sans-serif;
    background-color: #ffffff;
}

.logo {
    display: flex;
    width: 75px;
    height: 75px;
}

.head {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #34363b;
    justify-content: center;
}

.btn {
    font-family: "Unbounded", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    background: #34363b;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    border: none;
    color: #FFFFFF;
    padding: 15px 15px;
    text-decoration: none;
}

.textlarge {
    text-align: center;
    font-size: 5.6rem;
}

.textmedium {
    text-align: center;
    font-size: 1.8rem;
}

.interface {
    height: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

