@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
body{
    background-color: #ffeded;
    font-family: "Unbounded", sans-serif;
}
img{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    color: #344d85;
    text-align: center;
}
p{
    text-align: center;
}
a{
    color: #2c80ff;
    display: grid;
    place-items: center;
}